# Ignorera Python cache-filer
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorera virtuellt Python-miljö
venv/

# Ignorera loggar
*.log

# Ignorera OS-specifika filer
.DS_Store
Thumbs.db

# Ignorera editor/IDE-mappar
.vscode/
.idea/